*{ 
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif; 
}
.background{ /*mengatur berbagai properti untuk elemen ini, termasuk lebar, tinggi, gambar latar belakang, posisi latar belakang, dan ukuran latar belakang */
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(foto/solooy.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{ /* mengatur tinggi dan tata letak elemen ini, sehingga elemen-elemen di dalamnya akan ditampilkan secara sejajar */
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{ /*  mengatur lebar dan tampilan kursor ketika diarahkan ke elemen-elemen ini */
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{ /* mengisi fleks secara dinamis dan menempatkannya di sebelah kanan */
    flex: 1;
    text-align: right;
}
nav ul li{ /* ini mengatur tampilan daftar menu dan tautan menu */
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{ /* mengatur tampilan elemen ini, termasuk penataan tengah elemen dan margin bawah */
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.row{ /*digunakan untuk mengatur tata letak kolom di dalam elemen dengan kelas "row" */
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;  
}
h1{ /* mengatur warna teks dan ukuran font */
    color: white;
    font-size: 100px;

}
p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}
button{ /* mengatur tampilan tombol, termasuk lebar, warna latar belakang, dan bentuknya */
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{ /* digunakan untuk mengatur tampilan kartu-kartu dengan gambar latar belakang yang berbeda. Selain itu, ada efek hover yang mengubah posisi kartu saat dihover */
   width: 200px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   box-sizing: border-box;
   cursor: pointer;
   margin: 10px 15px; 
   background-position: center;
   background-size: cover;
   transition: transform 0.5s;
}
.card1{
    background-image: url(foto/timloenak2.jpg);
}
.card2{
    background-image: url(foto/pura1.jpg);
}
.card3{
    background-image: url(foto/keraton.jpeg);
}
.card4{
    background-image: url(foto/selat3.jpg);
}

.card:hover{
     transform: translateY(-10px)
}
h5{ /* mengatur tampilan teks pada kartu, termasuk warna teks dan bayangan teks */
    color: white;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
